body{

}
.wrapper{
    padding: 15px;
    max-width: 500px;
    margin: 0 auto;
}
.layer{
    transition: height 0.5s;
}
.layer-biscuit{
    background-color: pink;
}
.layer-beze{
    background-color: yellow;
}
.layer-curd{
    background-color: aqua;
}
.price{
    font-size: 26px;
    color: white;
    margin-right: 40px;
}
.layer-enter-active{
    animation: layerIn 0.5s;
}