<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link  rel="stylesheet" href="css.css">
</head>
<body>
<div id="app">
  <div class="container">
      <div class="simple">
          <h2>Cake builder</h2>
          <hr>
          <button type="button" class="btn btn-primary" @click="addLayer" >Add layer</button>
          <hr>
          <div class="row">
              <div class="col col-sm-6">
                  <div class="cake">
                      <div v-for="(layer, index) in layers" :style="{height: layer.height * 10 + 'px'}" :class='"layer-" + layer.type' class="layer" :key="index">

                      </div>
                  </div>
              </div>
              <div class="col col-sm-6">
                 <table class="table table-bordered">
                     <tr>
                         <th>Type</th>
                         <th>Height</th>
                         <th>Actions</th>
                     </tr>
                     <tr  v-for="(layer, index) in layers">
                         <td>
                             {{index}}
                         </td>
                         <td>
                             <input type="number" class="form-control" v-model="layers[index].height">
                         </td>
                         <td>

                         </td>
                     </tr>
                 </table>
              </div>
              <div class="col col-sm-12">
                  <hr>
                  <div class="alert alert-success price">
                      <span class="price text-with">
                          0 руб
                      </span>
                      <button type="button" class="btn btn-warning">Order now!</button>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="java.js"></script>
</body>
</html>